.titulo{
    font-size: 100px;
}

.titulo-producto{
    font-size: 80px;
    margin-top: 100px;
}

.titulo-box{
    height: 250px;
    padding-top: 20px;
}

/*CARDS*/
.producto-card{
    width: 350px;
}

.card-title{
    font-size: 30px;
}
.btn-comprar{
    padding: 10px;
}
