/* HEADER */
.titulo{
    height: 180px;
}
.titulo h1{
    padding-top: 30px;
} 

/* CONTENIDO PRINCIPAL */
.principal{
    margin-top: 150px;
}

.carousel-item{
    height: 80vh;
}

footer{
    height: 200px;
}
